<a href="https://colab.research.google.com/github/HKyeol/BOJ/blob/main/BOJ3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```
문제
N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

입력
첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다.

출력
출력형식과 같게 N*1부터 N*9까지 출력한다.
```

In [4]:
a = int(input())
for i in range(1,10):
    print(f'{a} * {i} = {a*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력
첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

출력
각 테스트 케이스마다 A+B를 출력한다.

In [7]:
n = int(input())
for i in range(n):
    a,b = map(int,input().split())
    print(a+b)

3
3 5
8
2 4
6
1 3
4

```
문제
0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다.
먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다.
그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다.
다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

입력
첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다.

출력
첫째 줄에 N의 사이클 길이를 출력한다.
```

In [ ]:
n = input()
if len(n) == 1:
    n = '0'+n
end = n
cnt = 0
while True:
    n = n[1]+str(int(n[0])+int(n[1]))[-1]
    cnt += 1
    print(n,end)
    if n == end:
        break
print(cnt)

In [ ]:
# 숏코딩
a=t=int(input());c=0
while(c<1)+a-t:t=t%10*10+t*11//10%10;c+=1
print(c)

```
0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.

입력
첫째 줄에 정수 N(0 ≤ N ≤ 12)가 주어진다.

출력
첫째 줄에 N!을 출력한다.
```

In [ ]:
def factorial(n):
    if n ==1or n==0:
        return 1
    else:
        return factorial(n-1)*n

print(factorial(int(input())))

In [58]:
#숏코딩
r=i=1
exec('r*=i;i+=1;'*int(input())) # 이해햇따!!!!!!!
print(r)

0
1

In [59]:
r=i=1
exec('r*=i;i+=1;'*int(input()))
print(r)

3
6