<a href="https://colab.research.google.com/github/HKyeol/BOJ/blob/main/BOJ5%2C%EA%B0%80%EB%B3%80%EC%9D%B8%EC%9E%90%2C%EA%B2%BD%EC%9A%B0%EC%9D%98%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```
문제
N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

입력
첫째 줄에 수의 개수 N(1 ≤ N ≤ 1,000)이 주어진다. 둘째 줄부터 N개의 줄에는 숫자가 주어진다.
이 수는 절댓값이 1,000보다 작거나 같은 정수이다. 수는 중복되지 않는다.

출력
첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.
5 5 2 3 4 1
```

In [16]:
N = int(input())
a = []
for i in range(N):
    a.append(int(input()))
    if len(a)>1:
        for k in range(len(a)-1,0,-1):
            if a[k-1]>a[k]:
                a[k-1],a[k]=a[k],a[k-1]
for j in a:
    print(j)

5
5
2
3
4
1
1
2
3
4
5

In [13]:
a = [1,2,3]
for k in range(len(a)-1,0,-1):
    print(k)
    if a[k-1]>a[k]:
        a[k-1],a[k]=a[k],a[k-1]

2
1

In [23]:
# 숏코딩
print(*sorted(eval("int(input()),"*int(input()))))

5
5
2
3
4
1
1 2 3 4 5

# 가변인자

In [28]:
def save_ranking(*args, **kwargs):
    print(args)
    print(kwargs)
save_ranking('ming', 'alice', 'tom','dad', fourth='wilson', fifth='roy')
# ('ming', 'alice', 'tom')
# {'fourth': 'wilson', 'fifth': 'roy'}

('ming', 'alice', 'tom', 'dad')
{'fourth': 'wilson', 'fifth': 'roy'}

# 경우의 수 문제
1~800의 자연수 중
4, 5, 6 중 하나의 수로만 나누어지는 자연수의 갯수는?

In [92]:
import collections
a = [i for i in range(1,801)]
a4 = [i for i in range(1,801) if i%4==0]
a5 = [i for i in range(1,801) if i%5==0]
a6 = [i for i in range(1,801) if i%6==0]
b1 = collections.Counter(a4) & collections.Counter(a5)
b2 = collections.Counter(a4) & collections.Counter(a6)
b3 = collections.Counter(a5) & collections.Counter(a6)
a4 = collections.Counter(a4)
a5 = collections.Counter(a5)
a6 = collections.Counter(a6)

res1 = a4-b1-b2-b3
res2 = a5-b1-b2-b3
res3 = a6-b1-b2-b3
res4 = a4+a5+a6
# 좀 다른정답
cnt = 0
for i in range(1,801):
    if res4[i] == 1:
        cnt += 1
print(cnt)
print(len(list(res1.elements())))
print((list(res1.elements())))
print(len(list(res2.elements())))
print((list(res2.elements())))
print(len(list(res3.elements())))
print((list(res3.elements())))
# 정답
print(len(res1+res2+res3))
#print(list(b1.elements()))

268
107
[4, 8, 16, 28, 32, 44, 52, 56, 64, 68, 76, 88, 92, 104, 112, 116, 124, 128, 136, 148, 152, 164, 172, 176, 184, 188, 196, 208, 212, 224, 232, 236, 244, 248, 256, 268, 272, 284, 292, 296, 304, 308, 316, 328, 332, 344, 352, 356, 364, 368, 376, 388, 392, 404, 412, 416, 424, 428, 436, 448, 452, 464, 472, 476, 484, 488, 496, 508, 512, 524, 532, 536, 544, 548, 556, 568, 572, 584, 592, 596, 604, 608, 616, 628, 632, 644, 652, 656, 664, 668, 676, 688, 692, 704, 712, 716, 724, 728, 736, 748, 752, 764, 772, 776, 784, 788, 796]
107
[5, 10, 15, 25, 35, 45, 50, 55, 65, 70, 75, 85, 95, 105, 110, 115, 125, 130, 135, 145, 155, 165, 170, 175, 185, 190, 195, 205, 215, 225, 230, 235, 245, 250, 255, 265, 275, 285, 290, 295, 305, 310, 315, 325, 335, 345, 350, 355, 365, 370, 375, 385, 395, 405, 410, 415, 425, 430, 435, 445, 455, 465, 470, 475, 485, 490, 495, 505, 515, 525, 530, 535, 545, 550, 555, 565, 575, 585, 590, 595, 605, 610, 615, 625, 635, 645, 650, 655, 665, 670, 675, 685, 695, 705, 710, 715, 725, 730, 735, 745, 755, 765, 770, 775, 785, 790, 795]
54
[6, 18, 42, 54, 66, 78, 102, 114, 126, 138, 162, 174, 186, 198, 222, 234, 246, 258, 282, 294, 306, 318, 342, 354, 366, 378, 402, 414, 426, 438, 462, 474, 486, 498, 522, 534, 546, 558, 582, 594, 606, 618, 642, 654, 666, 678, 702, 714, 726, 738, 762, 774, 786, 798]
268